# DB url
DATABASE_URL="file:./prisma/dev.db"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=7e0a85b11fd5320fea28840d3b512366ab82523c9154ad8da81d56749339ae4b

DISCORD_CLIENT_ID=Generate_me
DISCORD_CLIENT_SECRET=Generate_me

GOOGLE_CLIENT_ID=Generate_me
GOOGLE_CLIENT_SECRET=Generate_me
