# DB url
DATABASE_URL="postgresql://user:password@hostname:db_port_number/db_name"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=Generate_me

GOOGLE_CLIENT_ID=Generate_me
GOOGLE_CLIENT_SECRET=Generate_me
